/*TOPO*/
.titulo{
    color: white;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    padding: 0 10px 0 10px;
}

.btn-menu{
    position: fixed;
    top: 0.2px;
    right: 2%;
    width: 80px;
    height: 80px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    padding: 0 0 0 10px;
}

.conteudo-menu{
    display: none;
    position: fixed;
    top: 85px;
    right: 0px;
    background-color: black;
    z-index: 1;
}

.conteudo-menu a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    user-select: none;
    cursor: pointer;
}

.conteudo-menu a:hover {
    font-size: 110%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.show {
    display: block;
}


.navtopo{
    background-color: black;
    height: 13vh !important;
}

/*TOPICOS*/
.topico{
    display: none;
    width: 100vw;
    text-align: center;
    padding: 0 10vw 0 10vw;
}

.img_topico{
    display: inline-flex;
    justify-content: space-between;
}

.img-topico{
    width: 20vw;
    height: 40vh;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.titulo-topico{
    font-size: 50px;
    font-family: ;
    font-weight: bolder;
}

.titulo-topico, .conteudo-topico, .img-topico{
    border: 1px solid red;
    background-color: antiquewhite;
}

/*CORPO*/
.corpo{
    background-color: rgb(75, 75, 75);
    text-align: center;
}